@{
    Layout = "_Layout1";
}

    <main class="main-aboutpage">

        <!-- Credentials -->
        <section class="credential-area">
            <div class="container">
                <div class="gx-row d-flex">
                    <div class="credential-sidebar-wrap" data-aos="zoom-in">
                        <div class="credential-sidebar text-center">
                            <div class="shadow-box">
                                <img src="~/assets1/images/bg1.png" alt="BG" class="bg-img">
                                <div class="img-box">
                                <img src="~/assets1/images/me2.jpg" alt="About Me" loading="lazy">
                                </div>
                                <h2>Alireza Noorani</h2>
                                <p>g.noorani1379@gmail.com</p>

                                <ul class="social-links d-flex justify-content-center">
                                    <li><a href="#"><i class="iconoir-github"></i></a></li>
                                    <li><a href="#"><i class="iconoir-linkedin"></i></a></li>
                                    <li><a href="#"><i class="iconoir-instagram"></i></a></li>
                                    <li><a href="#"><i class="iconoir-telegram"></i></a></li>
                                </ul>

                            <a asp-action="Contact" asp-controller="Home"  class="theme-btn">Contact Me</a>
                            </div>
                        </div>
                    </div>

                    <div class="credential-content flex-1">
                        <div class="credential-about" data-aos="zoom-in">
                            <h2>About Me</h2>
                            <p>
                                He's quite the enthusiast – a curious mind, to be precise. With around a year of experience in Front-end development, he immerses himself in programming because it's his forte and his passion. Why? Because he's captivated by problem-solving, algorithm design, challenges, and the thrill of uncovering solutions to mysteries and problems. That's precisely why his affection for programming runs deep. Ultimately, any problem that's formidable for others becomes an enjoyable challenge for him.
                                //for humility "he" is me!
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum ea debitis repellendus consequatur nam neque maiores, recusandae inventore itaque omnis dolorum veritatis voluptatem esse possimus enim. Dignissimos aut praesentium ipsam.</p>
                        </div>

                        <div class="credential-edc-exp credential-experience">
                            <h2 data-aos="fade-up">Experience</h2>
                            <div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>2019 - 2022</h4>
                                <h3>Front-End Developer</h3>
                                <h5>DigiKala</h5>
                                <p>Sit amet luctussd fav venenatis, lectus magna fringilla inis urna, porttitor rhoncus dolor purus non enim praesent in elementum sahas facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etisam dignissim diam quis enim lobortis viverra orci sagittis eu volutpat odio facilisis mauris sit.</p>
                            </div>
                            <div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>2021 - now</h4>
                                <h3>FullStack Developer</h3>
                                <h5>AliBaba</h5>
                                <p>Sit amet luctussd fav venenatis, lectus magna fringilla inis urna, porttitor rhoncus dolor purus non enim praesent in elementum sahas facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etisam dignissim diam quis enim lobortis viverra orci sagittis eu volutpat odio facilisis mauris sit.</p>
                            </div>
                        </div>

                        <div class="credential-edc-exp credential-education">
                            <h2 data-aos="fade-up">Education</h2>
                            <div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>2004 - 2007</h4>
                                <h3>Bachelor Degree in Computer Engineering</h3>
                                <h5>University of Azad-Ardabil</h5>
                                <p>Sit amet luctussd fav venenatis, lectus magna fringilla inis urna, porttitor rhoncus dolor purus non enim praesent in elementum sahas facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etisam dignissim diam quis enim lobortis viverra orci sagittis eu volutpat odio facilisis mauris sit.</p>
                            </div>
                            <div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>2007 - 2009</h4>
                                <h3>Master Degree in Artificial Intelligence</h3>
                                <h5>University of Azad-Tehran</h5>
                                <p>Sit amet luctussd fav venenatis, lectus magna fringilla inis urna, porttitor rhoncus dolor purus non enim praesent in elementum sahas facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etisam dignissim diam quis enim lobortis viverra orci sagittis eu volutpat odio facilisis mauris sit.</p>
                            </div>
                        </div>

                        <div class="skills-wrap">
                            <h2 data-aos="fade-up">Skills</h2>
                            <div class="d-grid skill-items gap-24 flex-wrap">
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">85%</span>
                                    <h3 class="name">JavaScript</h3>
                                    <p>Non enim praesent</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">78%</span>
                                    <h3 class="name">Python</h3>
                                    <p>Non enim praesent</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">92%</span>
                                    <h3 class="name">C#</h3>
                                    <p>Non enim praesent</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">90%</span>
                                    <h3 class="name">ASP.NET Core</h3>
                                    <p>Non enim praesent</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">81%</span>
                                    <h3 class="name">React</h3>
                                    <p>Non enim praesent</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">87%</span>
                                    <h3 class="name">Next.js</h3>
                                    <p>Non enim praesent</p>
                                </div>

                            </div>
                        </div>

                        <div class="skills-wrap awards-wrap">
                            <h2 data-aos="fade-up">Awards</h2>
                            <div class="d-grid skill-items gap-24 flex-wrap">
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">14 May 2020</span>
                                    <h3 class="name">Bluebase</h3>
                                    <p>Non enim praesent</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">26 June 2018</span>
                                    <h3 class="name">Demble</h3>
                                    <p>Non enim praesent</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
 </main>

