@{
    Layout = "_Layout1";
}
<audio controls style="display: none;" autoplay>
    <source src="~/assets1/images/click.wav" type="audio/wav">
</audio>

        <!-- Breadcrumb -->
        <section class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content" data-aos="fade-up">
                    <p>HOME - BLOG</p>
                    <h1 class="section-heading"><img src="~/assets1/images/star-2.png" alt="Star"> Blog with rightsidebar <img src="~/assets1/images/star-2.png" alt="Star"></h1>
                </div>
            </div>
        </section>


        <!-- Blog Items -->
        <section class="blog-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="blog-items">
                            <div class="blog-item" data-aos="zoom-in">
                                <div class="img-box">
                                    <img src="~/assets1/images/blog1.jpg" alt="Blog">
                                </div>
                                <div class="content">
                                    <span class="meta">25 March 2022 - Comments (4) - Share (7)</span>
                                    <h1><a asp-action="BlogDetials" asp-controller="Home">Consulted admitting is power acuteness.</a></h1>
                                    <p>Sit amet luctussd fav venenatis, lectus magna fringilla inis urna, porttitor rhoncus dolor purus non enim praesent in elementum sahas facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etisam dignissim diam quis enim lobortis viverra orci sagittis eu volutpat odio facilisis mauris sit.</p>
                                    <a asp-action="BlogDetials" asp-controller="Home" class="theme-btn">Read More</a>
                                </div>
                            </div>

                            <div class="blog-item" data-aos="zoom-in">
                                <div class="img-box">
                                    <img src="~/assets1/images/blog2.jpg" alt="Blog">
                                </div>
                                <div class="content">
                                    <span class="meta">25 March 2022 - Comments (4) - Share (7)</span>
                                    <h1><a asp-action="BlogDetials" asp-controller="Home">Unsatiable entreaties may collecting Power.</a></h1>
                                    <p>Sit amet luctussd fav venenatis, lectus magna fringilla inis urna, porttitor rhoncus dolor purus non enim praesent in elementum sahas facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etisam dignissim diam quis enim lobortis viverra orci sagittis eu volutpat odio facilisis mauris sit.</p>
                                    <a asp-action="BlogDetials" asp-controller="Home" class="theme-btn">Read More</a>
                                </div>
                            </div>

                            <div class="blog-item" data-aos="zoom-in">
                                <div class="img-box">
                                    <img src="~/assets1/images/blog1.jpg" alt="Blog">
                                </div>
                                <div class="content">
                                    <span class="meta">25 March 2022 - Comments (4) - Share (7)</span>
                                    <h1><a asp-action="BlogDetials" asp-controller="Home">Discovery incommode earnestly he commanded</a></h1>
                                    <p>Sit amet luctussd fav venenatis, lectus magna fringilla inis urna, porttitor rhoncus dolor purus non enim praesent in elementum sahas facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etisam dignissim diam quis enim lobortis viverra orci sagittis eu volutpat odio facilisis mauris sit.</p>
                                    <a asp-action="BlogDetials" asp-controller="Home" class="theme-btn">Read More</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="blog-sidebar">
                            <div class="blog-sidebar-inner">

                                <div class="blog-sidebar-widget search-widget">
                                    <div class="blog-sidebar-widget-inner" data-aos="zoom-in">
                                        <form class="shadow-box">
                                            <input type="text" placeholder="Search Here...">
                                            <button class="theme-btn">Search</button>
                                        </form>
                                    </div>
                                </div>

                                <div class="blog-sidebar-widget recent-post-widget" data-aos="zoom-in">
                                    <div class="blog-sidebar-widget-inner shadow-box">
                                        <h3>Recent Posts</h3>

                                        <ul>
                                            <li><a asp-action="BlogDetials" asp-controller="Home">Consulted admitting is power acuteness.</a></li>
                                            <li><a asp-action="BlogDetials" asp-controller="Home">Unsatiable entreaties may collecting Power.</a></li>
                                            <li><a asp-action="BlogDetials" asp-controller="Home">Discovery incommode earnestly no he commanded</a></li>
                                            <li><a asp-action="BlogDetials" asp-controller="Home">Unsatiable entreaties may collecting Power.</a></li>
                                        </ul>

                                    </div>
                                </div>

                                <div class="blog-sidebar-widget categories-widget" data-aos="zoom-in">
                                    <div class="blog-sidebar-widget-inner shadow-box">
                                        <h3>Categories</h3>

                                        <ul>
                                            <li><a asp-action="BlogDetials" asp-controller="Home">-Analysis</a></li>
                                            <li><a asp-action="BlogDetials" asp-controller="Home">-Firewall</a></li>
                                            <li><a asp-action="BlogDetials" asp-controller="Home">-IT Solutions</a></li>
                                            <li><a asp-action="BlogDetials" asp-controller="Home">-Security</a></li>
                                            <li><a asp-action="BlogDetials" asp-controller="Home">-Technology</a></li>
                                        </ul>

                                    </div>
                                </div>

                                <div class="blog-sidebar-widget tags-widget" data-aos="zoom-in">
                                    <div class="blog-sidebar-widget-inner shadow-box">
                                        <h3>Tags</h3>

                                        <ul>
                                            <li><a class="theme-btn" asp-action="BlogDetials" asp-controller="Home">SAAS</a></li>
                                            <li><a class="theme-btn" asp-action="BlogDetials" asp-controller="Home">Development</a></li>
                                            <li><a class="theme-btn" asp-action="BlogDetials" asp-controller="Home">UI/UX</a></li>
                                            <li><a class="theme-btn" asp-action="BlogDetials" asp-controller="Home">Web</a></li>
                                            <li><a class="theme-btn" asp-action="BlogDetials" asp-controller="Home">Figma</a></li>
                                            <li><a class="theme-btn" asp-action="BlogDetials" asp-controller="Home">Java</a></li>
                                            <li><a class="theme-btn" asp-action="BlogDetials" asp-controller="Home">WordPress</a></li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
