@{
    Layout = "_Layout1";
}
<audio controls style="display: none;" autoplay>
    <source src="~/assets1/images/Sneeze.mp3" type="audio/mpeg">
</audio>

        <!-- Contact -->
        <section class="contact-area">
            <div class="container">
                <div class="gx-row d-flex justify-content-between gap-24">
                    <div class="contact-infos">
                        <h3 data-aos="fade-up">Contact Info</h3>
                        <ul class="contact-details">
                            <li class="d-flex align-items-center" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-mail"></i>
                                </div>
                                <div class="right">
                                    <span>MAIL me</span>
                                    <h4>g.noorani1379@gmail.com</h4>
                                   
                                </div>
                            </li>

                            <li class="d-flex align-items-center" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-phone"></i>
                                </div>
                                <div class="right">
                                    <span>Contact Me</span>
                                    <h4>+98 911-111-2222</h4>
                                    <h4>+98 911 1111</h4>
                                </div>
                            </li>

                            <li class="d-flex align-items-center" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-pin-alt"></i>
                                </div>
                                <div class="right">
                                    <span>Location</span>
                                    <h4>krj, Alborz <br>Persia <br>IR</h4>
                                </div>
                            </li>
                        </ul>

                        <h3 data-aos="fade-up">Social Info</h3>
                        <ul class="social-links d-flex align-center" data-aos="zoom-in">
                    <li><a class="shadow-box" href="https://github.com/noorani1379" target="_blank"><i class="iconoir-github-circle"></i></a></li>
                    <li><a class="shadow-box" href="https://www.linkedin.com/in/alireza-noorani/" target="_blank"><i class="iconoir-linkedin"></i></a></li>
                    <li><a class="shadow-box" href="https://t.me/MyDailyDiary7" target="_blank"><i class="iconoir-telegram"></i></a></li>
                        </ul>
                    </div>

                    <div data-aos="zoom-in" class="contact-form">
                        <div class="shadow-box">
                            <img src="~/assets1/images/bg1.png" alt="BG" class="bg-img">
                            <img src="~/assets1/images/icon3.png" alt="Icon">
                            <h1>Let’s work <span>together.</span></h1>
                            <form class="form" method="post" asp-controller="Home" asp-action="Contact">
                                <div class="alert alert-success messenger-box-contact__msg d-none" role="alert">
                                    Thank U for your kindness !
                                </div>
                                <div class="input-group">
                                    <input type="text" name="name" id="full-name" placeholder="NickName *">
                                </div>
                                <div class="input-group">
                                    <input type="email" name="email" id="email" placeholder="Email">
                                </div>
                               
                                <div class="input-group">
                                    <textarea name="message" id="message" placeholder="Your Message *"></textarea>
                                </div>
                                <div class="input-group">
                                <button type="submit" class="theme-btn submit-btn" name="submit">Send Message</button>
                                </div>
                        
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>
<script async>
    const form = document.querySelector('.form');
    const alert = document.querySelector('.alert');
    form.addEventListener('submit', (event) => {
        //event.preventDefault();
        alert.classList.remove('d-none');
        setTimeout(() => {
            alert.classList.add('d-none');
        }, 1000);
    });
</script>