
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPersonalWeb</title>
    <link rel="icon" type="image/x-icon" href="~/assets2/images/favicon.png">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/assets2/css/line-awesome.min.css">
    <link href="~/assets2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets2/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets2/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets2/css/animate.min.css">
    <link rel="stylesheet" href="~/assets2/css/smooth-scrollbar.css">
    <link rel="stylesheet" href="~/assets2/css/lightbox.min.css">

    <link rel="stylesheet" href="~/assets2/css/style.css">
    <link rel="stylesheet" href="~/assets2/css/responsive.css">
    <title>Great Portfolio</title>

</head>
<body class="home3-page">
    <audio controls style="display: none;" autoplay>
     <source src="~/assets2/images/idea.mp3" type="audio/mpeg">
    </audio>

    <video class="body-overlay" muted autoplay loop>
        <source src="~/assets2/images/video3.mp4" type="video/mp4">
    </video>

    <div class="page-loader">
        <div class="bounceball"></div>
    </div>

    <span class="icon-menu">
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

    <div class="global-color">
        <span class="setting-toggle">
            <i class="las la-cog"></i>
        </span>
        <div class="inner">
            <div class="overlay"></div>
            <div class="global-color-option">
                <span class="close-settings">
                    <i class="las la-times"></i>
                </span>
                <h2>Configuration</h2>
                <div class="global-color-option-inner">
                    <p>Colors</p>
                    <div class="color-boxed">
                        <a href="#" class="clr-active" onclick="color1();"></a>
                        <a href="#" onclick="color2();"></a>
                        <a href="#" onclick="color3();"></a>
                        <a href="#" onclick="color4();"></a>
                        <a href="#" onclick="color5();"></a>
                        <a href="#" onclick="color6();"></a>
                        <a href="#" onclick="color7();"></a>
                        <a href="#" onclick="color8();"></a>
                    </div>

                    <p>THREE DIMENSIONAL SHAPES</p>
                    <ul class="themes">
                        <li><a href="#">Earth Lines Sphere</a></li>
                        <li><a href="#">3D Abstract Ball</a></li>
                        <li class="active"><a href="#">Water Waves</a></li>
                        <li><a href="#">Liquids Wavy</a></li>
                        <li><a href="#">Solid Color</a></li>
                        <li><a href="#">Simple Strings</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="responsive-sidebar-menu">
        <div class="overlay"></div>
        <div class="sidebar-menu-inner">
            <div class="menu-wrap">
                <p>Menu</p>
                <ul class="menu scroll-nav-responsive d-flex">
                    <li>
                        <a class="scroll-to" href="#home">
                            <i class="las la-home"></i> <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a class="scroll-to" href="#about">
                            <i class="lar la-user"></i> <span>About</span>
                        </a>
                    </li>
                    <li>
                        <a class="scroll-to" href="#resume">
                            <i class="las la-briefcase"></i> <span>Resume</span>
                        </a>
                    </li>
                    <li>
                        <a class="scroll-to" href="#services">
                            <i class="las la-stream"></i> <span>Services</span>
                        </a>
                    </li>
                    <li>
                        <a class="scroll-to" href="#skills">
                            <i class="las la-shapes"></i> <span>Skills</span>
                        </a>
                    </li>
                    <li>
                        <a class="scroll-to" href="#portfolio">
                            <i class="las la-grip-vertical"></i> <span>Portfolios</span>
                        </a>
                    </li>
                    <li>
                        <a class="scroll-to" href="#testimonial">
                            <i class="lar la-comment"></i> <span>Testimonial</span>
                        </a>
                    </li>
                    <li>
                        <a class="scroll-to" href="#contact">
                            <i class="las la-envelope"></i> <span>Contact</span>
                        </a>
                    </li>
                    <li>
                        <a class="scroll-to" asp-action="Index1" asp-controller="Home">
                            <i class="lar la-themeco"></i> <span>Theme</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="sidebar-social">
                <p>Social</p>
                <ul class="social-links d-flex align-items-center">
                    <li>
                        <a href="https://t.me/MyDailyDiary7" target="_blank"><i class="lab la-telegram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/alireza-noorani/" target="_blank"><i class="lab la-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://instagram.com/alirezanourani__?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><i class="lab la-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <ul class="menu scroll-nav d-flex">
        <li>
            <a class="scroll-to" href="#home">
                <span>Home</span> <i class="las la-home"></i>
            </a>
        </li>
        <li>
            <a class="scroll-to" href="#about">
                <span>About</span> <i class="lar la-user"></i>
            </a>
        </li>
        <li>
            <a class="scroll-to" href="#resume">
                <span>Resume</span> <i class="las la-briefcase"></i>
            </a>
        </li>
        <li>
            <a href="#services">
                <span>Services</span> <i class="las la-stream"></i>
            </a>
        </li>
        <li>
            <a class="scroll-to" href="#skills">
                <span>Skills</span> <i class="las la-shapes"></i>
            </a>
        </li>
        <li>
            <a class="scroll-to" href="#portfolio">
                <span>Portfolios</span> <i class="las la-grip-vertical"></i>
            </a>
        </li>
        <li>
            <a class="scroll-to" href="#testimonial">
                <span>Testimonial</span> <i class="lar la-comment"></i>
            </a>
        </li>
        <li>
            <a class="scroll-to" href="#contact">
                <span>Contact</span> <i class="las la-envelope"></i>
            </a>
        </li>
    </ul>

    <div class="left-sidebar">
        <div class="sidebar-header d-flex align-items-center justify-content-between">
            <a asp-action="Index1" asp-controller="Home" class="logo">
                <img src="~/assets2/images/logo.svg" alt="Logo">
            </a>
            <span class="designation">Software Engineer</span>
        </div>
        <img class="me" src="~/assets2/images/mee.jpg" alt="Me">
        <h2 class="email">g.noorani1379@gmail.com</h2>
        <h2 class="address">Base in Krj, IR</h2>
        <p class="copyright">&copy; 2022 Great. All Rights Reserved</p>
        <ul class="social-profile d-flex align-items-center flex-wrap justify-content-center">
            <li>
                <a href="https://t.me/MyDailyDiary7" target="_blank"><i class="lab la-telegram"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/alireza-noorani/" target="_blank"><i class="lab la-linkedin"></i></a>
            </li>
            <li>
                <a href="https://instagram.com/alirezanourani__?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><i class="lab la-instagram"></i></a>
            </li>
            <li>
                <a href="https://github.com/noorani1379" target="_blank"><i class="lab la-github"></i></a>
            </li>
        </ul>
        <a href="~/assets2/images/CV.pdf" class="theme-btn" download><i class="las la-download"></i> Download CV</a>
    </div>

@RenderBody()

    <script src="~/assets2/js/jquery.js" defer></script>
    <script src="~/assets2/js/bootstrap.bundle.min.js" defer></script>
    <script src="~/assets2/js/owl.carousel.js" defer></script>
    <script src="~/assets2/js/gsap.min.js" defer></script>
    <script src="~/assets2/js/ScrollTrigger.min.js" defer></script>
    <script src="~/assets2/js/ScrollToPlugin.min.js" defer></script>
    <script src="~/assets2/js/lightbox.min.js" defer></script>
    <script src="~/assets2/js/main.js" defer></script>
    <script src="~/assets2/js/ajax-form.js" defer></script>
    <script src="~/assets2/js/color.js" defer></script>
</body>
</html>